# Environment variables for development
DPP_ENVIRONMENT=dev
DPP_DEBUG=True
DPP_LOG_LEVEL=INFO


# AI & Pipeline
DPP_OLLAMA_API_KEY=your_api_key_here  # <--- CHANGE THIS
DPP_OLLAMA_BASE_URL=https://ollama.com


# Auth & Security
DPP_ADMIN_API_KEY=your_admin_password  # <--- CHANGE THIS
DPP_JWT_SECRET_KEY=your_jwt_secret_key  # <--- CHANGE THIS


# Database Components
DPP_DATABASE_HOST=db
DPP_DATABASE_PORT=5432
DPP_DATABASE_USER=pulsar_user
DPP_DATABASE_PASSWORD=your_database_password  # <--- CHANGE THIS
DPP_DATABASE_NAME=pulsar_estate


# RabbitMQ Components
DPP_RABBITMQ_HOST=rabbitmq
DPP_RABBITMQ_PORT=5672
DPP_RABBITMQ_MANAGEMENT_PORT=15672
DPP_RABBITMQ_USER=guest
DPP_RABBITMQ_PASSWORD=your_rabbitmq_password  # <--- CHANGE THIS

